numpy
pandas
python-dotenv
mysql-connector-python
pymysql
scikit-learn
seaborn
catboost
xgboost
mlflow
nbformat
dagshub


#-e . 
# the above one only run after filestructure is run 
# once its run it will create the package so after that comment it like #-e .